<!DOCTYPE html>
<html>
<head>
  <title>Slaask Rails Sample</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>
  <script src='https://cdn.slaask.com/chat.js'></script>
  
  <% if user_signed_in? %>
    <script>
      _slaask.identify('<%= current_user.firstname %>', {
        user_id: <%= current_user.id %>,
        email: '<%= current_user.email %>',
        plan: '<%= current_user.plan %>'
      });
    </script>
  <% end %>
  
  <!-- Set your API key in: ENV["SLAASK_API_KEY"] -->
  
  <script>
    _slaask.init('<%= ENV["SLAASK_API_KEY"] %>');
  </script>
</body>
</html>
